#TabContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#RegularTabContainer
{
    width: 100%;
}

.tabbrowser-tab[visuallyselected="true"] .tab-background
{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.25);
}

.tab-stack
{
    display: grid;
    grid-template: auto / auto;
    pointer-events: none;
}

.tab-background
{
    grid-area: 1 / 1 / span 1 / span 1;
}

.tab-content
{
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 36px;
    line-height: 36px;
    padding-inline: 10px;
    font-size: 12px;
}

.tabbrowser-tab[pinned="false"] .tab-icon-stack
{
    margin-inline-end: 8px;
}

.tab-icon-stack
{
    display: grid;
    grid-template: auto / auto;
    width: 16px;
    height: 16px;

    > *
    {
        grid-area: 1 / 1 / span 1 / span 1;
        width: 16px;
        height: 16px;
    }
}

.tab-icon-overlay
{
    pointer-events: auto;
}

.tabbrowser-tab[soundplaying="true"] .tab-icon-overlay
{
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: -8px;
    background: green;
}

.tabbrowser-tab[muted="true"] .tab-icon-overlay
{
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: -8px;
    background: red;
}

.tab-label-container
{
    width: 100%;
    overflow: hidden;
}

.tab-label
{
    height: 36px;
}

.tab-close-button
{
    pointer-events: auto;
    min-width: 16px;
    min-height: 16px;
    background-color: red;
    margin-inline-start: 8px;
}