#TabContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#RegularTabContainer
{
    width: 100%;
}







.tabbrowser-tab[visuallyselected="true"] .tab-background
{
    background-color: Field;
    border-radius: 4px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.1);
}


.tab-background
{
    pointer-events: none;
}







.tab-content
{
    display: flex;
    flex-direction: row;
    height: 36px;
    align-items: center;
    padding-inline: 10px;
}

.tab-icon
{
    display: block;
    width: 16px;
    height: 16px;
}



/* Pinned tabs */












/* Regular tabs */





.tabbrowser-tab[pinned="false"] .tab-icon
{
    margin-inline-end: 10px;
}

.tab-text
{
    font-size: 12px;
    height: 36px;
    line-height: 36px;
}