:root
{
    color-scheme: light dark;
    background-color: ActiveCaption;
    color: CaptionText;

    --toolbar-bgcolor: field;
    --toolbar-color: fieldtext;
    --toolbarbutton-icon-fill: currentColor;
    --toolbarbutton-hover-background: color-mix(in srgb, currentColor 10%, transparent);
    --toolbarbutton-active-background: color-mix(in srgb, currentColor 20%, transparent);

    -moz-context-properties: fill, stroke;

    font-size: 12px;
    line-height: 36px;
}

:root:-moz-window-inactive
{
    background-color: InActiveCaption;
    color: InActiveCaptionText;
}

/* ------------------------------------------------------ */

#TabContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#RegularContainer
{
    width: 100%;
}

/* ------------------------------------------------------ */

.tabbrowser-tab[visuallyselected] .tab-background
{
    background-color: Field;
    color: FieldText;
    box-shadow: 0 2px 4px light-dark(rgba(0,0,0,0.25), rgba(0,0,0,0.75));
}

.tabbrowser-tab:not([visuallyselected]):hover .tab-background
{
    background-color: var(--toolbarbutton-hover-background);
}

.tab-background
{
    border-radius: 4px;
    pointer-events: none;
}

/* ------------------------------------------------------- */

.tab-content
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 36px;
    max-height: 36px;
    padding-inline: 10px;
}

/* --------------------------------------------------------- */

.tab-icon-stack
{
    display: grid;
    grid-template: auto / auto;
    min-width: 16px;
    min-height: 16px;

    > *
    {
        display: none;
        grid-area: 1 / 1 / span 1 / span 1;
        width: 16px;
        height: 16px;
    }
}

.tabbrowser-tab[loading] .tab-throbber
{
    display: block;
    background-image: radial-gradient(circle at center, dodgerblue 2px, transparent 2px);
    background-size: 4px 4px;
    background-position: left center;
    background-repeat: no-repeat;
    animation: tab-throbber-animation 1s infinite;
}

@keyframes tab-throbber-animation
{
    0%   { transform: translateX(0px);  }
    50%  { transform: translateX(12px); }
    100% { transform: translateX(0px);  }
}

.tabbrowser-tab:not([pinned]) .tab-icon-stack
{
    margin-inline-end: 8px;
}

.tab-icon-overlay
{
    &:hover
    {
        background-color: var(--toolbarbutton-hover-background);
    }

    &:hover:active
    {
        background-color: var(--toolbarbutton-active-background);
    }
}

.tabbrowser-tab:not([loading]) .tab-icon-image
{
    display: block;
}

.tabbrowser-tab:is([soundplaying], [muted]) .tab-icon-image
{
    mask-image: url("icons/Media.svg");
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: left top;
}

.tabbrowser-tab[soundplaying] .tab-icon-overlay
{
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: -8px;
    background-image: url("icons/tab-audio-playing-small.svg");
    fill: var(--toolbarbutton-icon-fill);
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
stroke: transparent;
pointer-events: auto;
}

.tabbrowser-tab[muted] .tab-icon-overlay
{
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: -8px;
    background-image: url("icons/tab-audio-muted-small.svg");
    fill: var(--toolbarbutton-icon-fill);
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
stroke: transparent;
pointer-events: auto;
}

/* ------------------------------------------------- */

.tab-label-container
{
    width: 100%;
    min-height: 36px;
    max-height: 36px;
    overflow: hidden;
    pointer-events: none;
}

/* ------------------------------------------ */

.tab-close-button
{
    min-width: 16px;
    min-height: 16px;
    background-image: url("icons/close-12.svg");
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    fill: currentColor;
    margin-inline-start: 8px;
pointer-events: auto;

    &:hover
    {
        background-color: var(--toolbarbutton-hover-background);
    }

    &:hover:active
    {
        background-color: var(--toolbarbutton-active-background);
    }

}














/* Pinned Tabs */

.tabbrowser-tab[pinned] :is(.tab-label-container, .tab-close-button)
{
    display: none;
}
















/* ----------------------------------------------------- */

#NewTabButton
{
    height: 36px;
    background-image: url("icons/plus.svg");
    background-size: 16px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px;
    fill: var(--toolbarbutton-icon-fill);

    &:hover
    {
        background-color: var(--toolbarbutton-hover-background);
    }

    &:hover:active
    {
        background-color: var(--toolbarbutton-active-background);
    }
}