:root
{
    color-scheme: light dark;
    background-color: -moz-Dialog;
    color: -moz-DialogText;

    --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent);
    --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent);
}

/* ------------------------------------------------------ */

#TabContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#RegularContainer
{
    flex-basis: 100%;
}

/* ------------------------------------------------------ */

.tabbrowser-tab[pinned] :is(.tab-label-container, .tab-close-button)
{
    display: none;
}

.tab-stack
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    pointer-events: none;
}

.tabbrowser-tab[visuallyselected] .tab-background
{
    background-color: Field;
    color: FieldText;
    box-shadow: 0 2px 4px light-dark(rgba(0,0,0,0.25), rgba(0,0,0,0.75));
}

.tabbrowser-tab:not([visuallyselected]):hover .tab-background
{
    background-color: var(--toolbarbutton-hover-background);
}

.tab-background
{
    display: grid;
    grid-template: auto / auto;
    grid-area: 1 / 1 / span 1 / span 1;
    min-height: 36px;
    border-radius: 4px;
}

.tab-context-line
{
    grid-area: 1 / 1 / span 1 / span 1;
    box-shadow: inset 0 0 0 2px var(--identity-icon-color, transparent);
    border-radius: 4px;
}

.tab-loading-burst
{
    grid-area: 1 / 1 / span 1 / span 1;
}

.tab-content
{
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-inline: 10px;
}

/* --------------------------------------------------------- */

.tab-icon-stack
{
    display: grid;
    grid-template: auto / auto;

    > *
    {
        display: none;
        grid-area: 1 / 1 / span 1 / span 1;
        width: 16px;
        height: 16px;
    }
}

.tabbrowser-tab:not([pinned]) .tab-icon-stack
{
    margin-inline-end: 8px;
}

.tabbrowser-tab[loading] .tab-throbber
{
    display: block;
    background-color: currentColor;
    mask-image: url("icons/hourglass.svg");
    mask-size: 16px 16px;
    mask-position: left center;
    mask-repeat: no-repeat;
}

.tabbrowser-tab:not([loading]) .tab-icon-image
{
    display: block;
}

.tabbrowser-tab:is([soundplaying], [muted]) .tab-icon-image
{
    mask-image: url("icons/Media.svg");
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: left top;
}

.tabbrowser-tab[discarded] .tab-icon-image
{
    filter: saturate(0) !important;
}

.tabbrowser-tab:is([soundplaying], [muted]):not([loading]) .tab-overlay
{
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: -8px;
    pointer-events: auto;

    &:hover
    {
        background-color: var(--toolbarbutton-hover-background);
    }

    &:hover:active
    {
        background-color: var(--toolbarbutton-active-background);
    }
}

.tabbrowser-tab[soundplaying] .tab-icon-overlay
{
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask-image: url("icons/tab-audio-playing-small.svg");
    mask-size: 12px 12px;
    mask-position: center center;
    mask-repeat: no-repeat;
}

.tabbrowser-tab[muted] .tab-icon-overlay
{
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask-image: url("icons/tab-audio-muted-small.svg");
    mask-size: 12px 12px;
    mask-position: center center;
    mask-repeat: no-repeat;
}

/* ------------------------------------------------- */

.tab-label-container
{
    display: grid;
    grid-template: auto / auto;
    width: 100%;
}

.tab-lable
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: system-ui;
    font-size: 12px;
}

.tab-close-button
{
    border-radius: 50%;
    pointer-events: auto;

    &:hover
    {
        background-color: var(--toolbarbutton-hover-background);
    }

    &:hover:active
    {
        background-color: var(--toolbarbutton-active-background);
    }
}

.tab-close-button-icon
{
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask-image: url("icons/close-12.svg");
    mask-size: 12px 12px;
    mask-position: center center;
    mask-repeat: no-repeat no-repeat;
}

/* ----------------------------------------------------- */

#NewTabButton
{
    border-radius: 4px;

    &:hover
    {
        background-color: var(--toolbarbutton-hover-background);
    }

    &:hover:active
    {
        background-color: var(--toolbarbutton-active-background);
    }
}

#NewTabButtonIcon
{
    height: 36px;
    background-color: currentColor;
    mask-image: url("icons/plus.svg");
    mask-size: 16px 16px;
    mask-position: center center;
    mask-repeat: no-repeat no-repeat;
}